traffic_crashes:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: oauth
      project: traffic-crashes-warehouse
      dataset: traffic_crashes_dev
      location: US
      threads: 4
      timeout_seconds: 300
      priority: interactive
