# ------------------------------------------------------------------------------
# CSV (Large size not supported)
# ------------------------------------------------------------------------------

Chicago_Traffic_Crashes.csv

# ------------------------------------------------------------------------------
# Visual Studio Code
# ------------------------------------------------------------------------------

.vscode/

# ------------------------------------------------------------------------------
# JetBrains IDEs
# ------------------------------------------------------------------------------

.idea/

# ------------------------------------------------------------------------------
# Vim / Neovim
# ------------------------------------------------------------------------------

*.swp
*.swo

# ------------------------------------------------------------------------------
# Python
# ------------------------------------------------------------------------------

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# ------------------------------------------------------------------------------
# Environment Variables
# ------------------------------------------------------------------------------

.env
.env.*
